html {
  -ms-touch-action: none
}

body {
  background: #000;
  height: 100vh
}

body,
canvas,
div {
  margin: 0;
  padding: 0;
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

canvas {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: touch
}

.bubbles {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.bubble {
  display: inline-block
}

.bubble:first-of-type .circle {
  animation-delay: .1s
}

.bubble:nth-of-type(2) .circle {
  animation-delay: .2s
}

.bubble:nth-of-type(3) .circle {
  animation-delay: .3s
}

.bubble .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5)
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(.2);
    opacity: .75
  }

  to {
    transform: scale(1)
  }
}