.styles_RequestEmailTitle__RxyW9 {
  margin-top: .5rem;
  margin-bottom: .25rem
}

.styles_RequestEmailDescription__WT1VK {
  margin-bottom: 1rem
}

.styles_RequestEmailForm__qSHSu .styles_Input__zRBHe {
  margin-bottom: 2.5rem
}

.styles_RequestEmailForm__qSHSu [class*=ContinueButton] {
  margin-bottom: 1.5rem
}

.styles_EmailField__oxuPl {
  margin-bottom: 2.5rem
}

.styles_RequestEmailError__2rZu_ {
  --extra-padding: 2.75rem;
  width: calc(100% + var(--extra-padding) * 2);
  margin-left: calc(var(--extra-padding) * -1)
}

@media screen and (max-width:1023px) {
  .styles_RequestEmailError__2rZu_ {
    --extra-padding: 0
  }
}

._11c01n10 {
  position: relative;
  cursor: pointer;
  box-sizing: border-box
}

._11c01n10,
._11c01n11 {
  border-radius: var(--_1tjd7xf2s)
}

._11c01n11 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

._11c01n12 {
  position: absolute;
  border-radius: var(--_1tjd7xf2s)
}

._11c01n13 {
  width: 288px;
  height: 152px
}

._11c01n14 {
  width: 100%;
  height: auto;
  aspect-ratio: 288/152
}

._11c01n15 {
  width: 288px;
  height: 192px
}

._11c01n17 {
  outline: none
}

._11c01n18:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--_1tjd7xf2s);
  border: .25rem solid var(--_1tjd7xfr);
  opacity: 0;
  cursor: pointer
}

._11c01n17:focus ._11c01n18:after,
._11c01n18:focus:after,
._11c01n18:hover:after {
  opacity: 1
}

._11c01n19 {
  overflow: hidden;
  width: 100%;
  z-index: 960
}

._11c01n19,
._11c01n1a {
  height: 100%;
  border-radius: var(--_1tjd7xf2s);
  position: absolute
}

._11c01n1a {
  left: 0;
  right: 0;
  margin: 0;
  backdrop-filter: blur(5px);
  padding: var(--_1tjd7xf29);
  color: white;
  transition: bottom .2s;
  bottom: -192px
}

._11c01n10:focus ._11c01n1a,
._11c01n10:hover ._11c01n1a,
a:focus ._11c01n1a,
li:focus ._11c01n1a {
  bottom: 0
}

._11c01n1b {
  height: 104px
}

._11c01n1c {
  line-height: var(--_1tjd7xf1x);
  font-weight: var(--_1tjd7xf11);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0 !important
}

._11c01n10 ._11c01n1c,
._11c01n1c {
  font-size: var(--_1tjd7xf14)
}

._11c01n1d {
  line-height: var(--_1tjd7xf1w);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0 !important
}

._11c01n10 ._11c01n1d,
._11c01n1d {
  font-size: var(--_1tjd7xf13)
}

._11c01n14 ._11c01n1d {
  -webkit-line-clamp: 1
}

._11c01n1e {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

._11c01n17:focus ._11c01n1f {
  border: none;
  box-shadow: 0 0 0 2px var(--_1tjd7xfq), 0 0 0 4px var(--_1tjd7xf1);
  border-radius: 0;
  width: -moz-fit-content;
  width: fit-content
}

._11c01n1g {
  height: 40px;
  border-radius: var(--_1tjd7xf2u)
}

body[data-device-type=desktop] ._11c01n1g {
  display: flex
}

._11c01n10 ._11c01n1g {
  height: 40px;
  border-radius: var(--_1tjd7xf2u)
}

._11c01n17:focus ._11c01n1g {
  text-decoration: underline
}

._11c01n1h {
  position: absolute;
  bottom: 0;
  padding: .5rem 1rem;
  background-color: hsla(0, 0%, 100%, .65);
  backdrop-filter: blur(100px);
  width: 100%;
  color: black;
  font-size: var(--_1tjd7xf15);
  border-bottom-left-radius: var(--_1tjd7xf2s);
  border-bottom-right-radius: var(--_1tjd7xf2s);
  z-index: 960
}

@media screen and (max-width:1024px) {
  ._11c01n10 {
    width: 176px;
    height: 96px
  }

  ._11c01n13 {
    width: 168px;
    height: 80px
  }

  ._11c01n14 {
    width: 100%;
    height: auto;
    aspect-ratio: 288/152
  }

  ._11c01n15 {
    width: 176px;
    height: 96px
  }

  ._11c01n1a {
    padding-bottom: var(--_1tjd7xf28)
  }

  body[data-device-type=desktop] ._11c01n1a {
    padding: var(--_1tjd7xf28)
  }

  ._11c01n1b {
    height: 100%
  }

  ._11c01n1c {
    line-height: var(--_1tjd7xf1w)
  }

  ._11c01n10 ._11c01n1c,
  ._11c01n1c {
    font-size: var(--_1tjd7xf13)
  }

  ._11c01n1d {
    font-size: var(--_1tjd7xf12);
    line-height: var(--_1tjd7xf1w)
  }

  body[data-device-type=desktop] ._11c01n1d {
    display: none
  }

  ._11c01n10 ._11c01n1d {
    font-size: var(--_1tjd7xf12)
  }

  ._11c01n13 ._11c01n1d {
    line-height: var(--_1tjd7xf1v)
  }

  ._11c01n1e {
    justify-content: start
  }

  body:not([data-device-type=desktop]) ._11c01n10 ._11c01n1g,
  body[data-device-type=desktop] ._11c01n10 ._11c01n1g {
    display: none
  }

  ._11c01n10 ._11c01n1g {
    font-size: var(--_1tjd7xf12);
    display: none
  }

  ._11c01n1h {
    font-size: var(--_1tjd7xf13);
    padding: 0 .5rem;
    height: 24px;
    backdrop-filter: none
  }
}

@media screen and (max-width:400px) {
  ._11c01n16 {
    width: 100%
  }
}

._1670v4u0 {
  display: flex;
  height: 1.25rem;
  padding: 0 .375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0 .5rem;
  text-align: center;
  font-style: normal;
  font-size: var(--_1tjd7xf12);
  font-weight: var(--_1tjd7xf10);
  line-height: var(--_1tjd7xf1w);
  vertical-align: middle;
  text-transform: uppercase;
  position: absolute;
  z-index: 961;
  top: -.25rem;
  left: -.25rem
}