._1rv6egp0 {
  margin: 0;
  padding: 0;
  color: currentColor
}

._1rv6egpa {
  font-size: var(--_1tjd7xf1g);
  line-height: var(--_1tjd7xf20)
}

._1rv6egpb {
  font-size: var(--_1tjd7xf1h);
  line-height: var(--_1tjd7xf22)
}

._1rv6egpb,
._1rv6egpc {
  font-weight: var(--_1tjd7xfy)
}

._1rv6egpc {
  font-size: var(--_1tjd7xf1i)
}

._1rv6egpc,
._1rv6egpd {
  line-height: var(--_1tjd7xf21)
}

._1rv6egpd {
  font-size: var(--_1tjd7xf1j)
}

._1rv6egpd,
._1rv6egpe {
  font-weight: var(--_1tjd7xfz)
}

._1rv6egpe {
  font-size: var(--_1tjd7xf1k);
  line-height: var(--_1tjd7xf20)
}

._1rv6egpf {
  font-size: var(--_1tjd7xf1l)
}

._1rv6egpf,
._1rv6egpg {
  line-height: var(--_1tjd7xf1z);
  font-weight: var(--_1tjd7xfz)
}

._1rv6egpg {
  font-size: var(--_1tjd7xf1m)
}

._1rv6egph {
  font-size: var(--_1tjd7xf1n);
  line-height: var(--_1tjd7xf1y);
  font-weight: var(--_1tjd7xf10)
}

._1rv6egpi {
  font-size: var(--_1tjd7xf1o)
}

._1rv6egpi,
._1rv6egpj {
  line-height: var(--_1tjd7xf1x);
  font-weight: var(--_1tjd7xf10)
}

._1rv6egpj {
  font-size: var(--_1tjd7xf1p)
}

._1rv6egpk {
  font-size: var(--_1tjd7xf1q)
}

._1rv6egpk,
._1rv6egpl {
  line-height: var(--_1tjd7xf1w);
  font-weight: var(--_1tjd7xf10)
}

._1rv6egpl {
  font-size: var(--_1tjd7xf1r)
}

._1rv6egpm,
._1rv6egpn {
  font-size: var(--_1tjd7xf1t);
  line-height: var(--_1tjd7xf1x)
}

._1rv6egpn,
._1rv6egpo {
  font-weight: var(--_1tjd7xfz)
}

._1rv6egpo {
  font-size: var(--_1tjd7xf1u);
  line-height: var(--_1tjd7xf1w)
}

@media (min-width:568px) {
  ._1rv6egpa {
    font-size: var(--_1tjd7xf1g);
    line-height: var(--_1tjd7xf24);
    font-weight: var(--_1tjd7xfy)
  }
}

@media (min-width:1240px) {
  ._1rv6egpm {
    font-size: var(--_1tjd7xf1s);
    line-height: var(--_1tjd7xf1y);
    font-weight: var(--_1tjd7xfz)
  }
}