._83ichw0 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--_1tjd7xf2i);
  padding: var(--_1tjd7xf28) var(--_1tjd7xf2a);
  cursor: pointer;
  outline: none;
  font: var(--_1tjd7xf1q);
  border-radius: var(--_1tjd7xf2u);
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  box-sizing: border-box
}

._83ichw0,
._83ichw2 {
  position: relative;
  transition: all .2s ease
}

._83ichw2 {
  background: var(--_1tjd7xf35, var(--_1tjd7xfg));
  border: var(--_1tjd7xf2y) solid;
  border-color: var(--_1tjd7xf3f, var(--_1tjd7xfs));
  color: var(--_1tjd7xf3a, var(--_1tjd7xfo))
}

._83ichw2:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: opacity .2s ease
}

._83ichw2:hover {
  background: var(--_1tjd7xf36, var(--_1tjd7xfg));
  border-color: var(--_1tjd7xf3g);
  color: var(--_1tjd7xf3b)
}

._83ichw2:active {
  background: var(--_1tjd7xf37, var(--_1tjd7xfg));
  border-color: var(--_1tjd7xf3h, var(--_1tjd7xfs));
  color: var(--_1tjd7xf3c)
}

._83ichw2:focus-visible {
  text-decoration: underline
}

._83ichw2:focus:after,
._83ichw2:hover:after {
  opacity: 1;
  border-color: var(--_1tjd7xf3g, var(--_1tjd7xfs))
}

._83ichw3 {
  background: var(--_1tjd7xf3p, var(--_1tjd7xf0));
  border: var(--_1tjd7xf2y) solid;
  border-color: var(--_1tjd7xf3z, var(--_1tjd7xfg));
  color: var(--_1tjd7xf3u, var(--_1tjd7xf1));
  text-shadow: 0 1px 2px color-mix(in srgb, var(--_1tjd7xf0) 70%, black)
}

._83ichw3:hover {
  background: var(--_1tjd7xf3q, color-mix(in srgb, var(--_1tjd7xf0) 80%, white));
  color: var(--_1tjd7xf3v, var(--_1tjd7xf1));
  border-color: var(--_1tjd7xf40)
}

._83ichw3:active {
  background: var(--_1tjd7xf3r, color-mix(in srgb, var(--_1tjd7xf0) 65%, black));
  border-color: var(--_1tjd7xf41);
  color: var(--_1tjd7xf3w, var(--_1tjd7xf1))
}

._83ichw3:focus-visible {
  text-decoration: underline
}

._83ichw4 {
  background: none;
  color: none;
  border: none
}

._83ichw5 {
  pointer-events: none
}

._83ichw6 {
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, .23) 0, rgba(0, 0, 0, 0) 86.18%), radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, .41) 0, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), var(--_1tjd7xf4t, var(--_1tjd7xf0));
  border: var(--_1tjd7xf2y) solid var(--_1tjd7xf53, none);
  color: var(--_1tjd7xf4y, var(--_1tjd7xf1));
  text-shadow: 0 1px 2px color-mix(in srgb, var(--_1tjd7xf0) 70%, black)
}

._83ichw6:hover {
  background: var(--_1tjd7xf4u, color-mix(in srgb, var(--_1tjd7xf0) 80%, white));
  color: var(--_1tjd7xf4z, var(--_1tjd7xf1));
  border-color: var(--_1tjd7xf54)
}

._83ichw6:active {
  background: var(--_1tjd7xf4v, color-mix(in srgb, var(--_1tjd7xf0) 65%, black));
  border-color: var(--_1tjd7xf55);
  color: var(--_1tjd7xf50, var(--_1tjd7xf1))
}

._83ichw6:focus-visible {
  text-decoration: underline
}

._83ichw7 {
  height: var(--_1tjd7xf2m)
}

._83ichw8,
._83ichw9 {
  height: var(--_1tjd7xf2n)
}

._83ichwa {
  height: 120px
}

._83ichwb {
  height: 72px
}

._83ichwc {
  width: 100%
}

._83ichwd {
  width: -moz-fit-content;
  width: fit-content
}

._83ichwe {
  border-color: var(--_1tjd7xfg)
}

._83ichwe:hover {
  color: var(--_1tjd7xf1)
}

._83ichwf {
  font-size: 36px;
  font-weight: 600;
  border-radius: 48px
}

._83ichwg {
  background: transparent;
  border-color: white;
  color: white
}

._83ichwg:hover {
  background: white;
  border-color: var(--_1tjd7xf3p, var(--_1tjd7xf0));
  color: var(--_1tjd7xf3p, var(--_1tjd7xf0))
}

._83ichwh:focus-visible {
  box-shadow: 0 0 0 2px var(--_1tjd7xf2), 0 0 0 4px var(--_1tjd7xf1);
  border-radius: 0
}