._1y5ux1a0 {
  display: flex;
  justify-content: center;
  padding: 4px 0
}

._1y5ux1a0,
._1y5ux1a1 {
  width: 100%;
  position: relative
}

._1y5ux1a1 {
  min-width: 32px
}

._1y5ux1a2 {
  width: 100%;
  padding: 0;
  font-size: var(--_1tjd7xf14);
  outline: none;
  border: none;
  transition: width .3s ease-in-out, transform .3s ease-in-out;
  height: 40px;
  color: var(--_1tjd7xfo);
  line-height: 24px;
  background-color: var(--_1tjd7xf1);
  cursor: pointer;
  border-radius: var(--_1tjd7xf2s)
}

._1y5ux1a2::-moz-placeholder {
  display: none;
  opacity: 0
}

._1y5ux1a2::placeholder {
  display: none;
  opacity: 0
}

._1y5ux1a3 {
  border: 2px solid var(--_1tjd7xfq);
  padding: .5rem 2rem .5rem 3rem
}

._1y5ux1a5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--_1tjd7xfj)
}

._1y5ux1a6 {
  left: 1rem
}

._1y5ux1a7 {
  color: var(--_1tjd7xfj);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3ms
}

._1y5ux1a8 {
  opacity: 1;
  pointer-events: auto;
  transition: none
}

._1y5ux1a9 {
  background-color: var(--_1tjd7xf1);
  box-shadow: 0 4px 6px #0000001a;
  margin-top: 0;
  height: calc(568px - 58px);
  min-height: calc(568px - 58px);
  overflow: hidden;
  max-height: var(--radix-popover-content-available-height);
  width: var(--radix-popover-trigger-width);
  z-index: 2000;
  position: relative;
  border-radius: 0 0 var(--_1tjd7xf2s) var(--_1tjd7xf2s)
}

._1y5ux1aa {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  padding-top: 3rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem
}

._1y5ux1ab {
  margin-bottom: 2rem;
  font-size: var(--_1tjd7xf16);
  font-weight: var(--_1tjd7xf11);
  line-height: 1.5rem
}

._1y5ux1ac {
  display: flex;
  flex-direction: row
}

._1y5ux1ad {
  width: 50%
}

._1y5ux1ae,
._1y5ux1af {
  margin-right: 56px
}

._1y5ux1af {
  display: flex;
  flex-direction: column;
  gap: 8px
}

._1y5ux1af>:last-child {
  margin-bottom: 76px
}

._1y5ux1ag {
  font-size: var(--_1tjd7xf14);
  font-weight: var(--_1tjd7xfz);
  line-height: 1.25rem
}

._1y5ux1ah {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
  cursor: pointer;
  color: var(--_1tjd7xfj)
}

._1y5ux1ai:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--_1tjd7xfq)
}

._1y5ux1af>:last-child ._1y5ux1ah {
  border-bottom: none
}

._1y5ux1aj {
  border-radius: var(--_1tjd7xf2s)
}

._1y5ux1ak {
  flex-shrink: 0
}

._1y5ux1al {
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: calc(100% - 5rem);
  left: 0;
  bottom: 0;
  border-top: 1px solid var(--_1tjd7xfr);
  background-color: var(--_1tjd7xf1);
  font-weight: var(--_1tjd7xfz) !important;
  padding: 1rem 0;
  border-bottom-left-radius: var(--_1tjd7xf2s)
}

._1y5ux1al,
._1y5ux1am {
  color: var(--_1tjd7xfj)
}

._1y5ux1am {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--_1tjd7xf14);
  font-weight: var(--_1tjd7xfz);
  line-height: 1.25rem
}

._1y5ux1an {
  margin-left: .25rem
}

._1y5ux1ao {
  font-weight: var(--_1tjd7xf11)
}

._1y5ux1ap {
  text-transform: capitalize;
  font-weight: var(--_1tjd7xfz);
  font-size: var(--_1tjd7xf14);
  line-height: 1.25rem
}

._1y5ux1aq,
._1y5ux1ar {
  display: none
}

._1y5ux1as {
  background: linear-gradient(to top, var(--_1tjd7xf1) 0, rgba(255, 255, 255, 0) 100%)
}

._1y5ux1at {
  background: linear-gradient(to top, var(--_1tjd7xfn) 0, rgba(255, 255, 255, 0) 100%)
}

._1y5ux1au {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1
}

._1y5ux1av {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3rem)
}

._1y5ux1aw {
  color: var(--_1tjd7xfj)
}

@media screen and (max-width:1024px) {

  ._1y5ux1a0,
  ._1y5ux1a0 form,
  ._1y5ux1a1 {
    width: 100%
  }

  ._1y5ux1a2 {
    border: 2px solid var(--_1tjd7xfr)
  }

  ._1y5ux1a4 {
    height: 40px;
    padding: 8px 16px;
    cursor: pointer
  }

  ._1y5ux1a0:has(._1y5ux1a4) ._1y5ux1a5 {
    left: 1rem
  }

  ._1y5ux1a7 {
    display: none
  }

  ._1y5ux1a9 {
    width: 100vw;
    left: 0 !important;
    transform: none !important;
    height: 100vh
  }

  ._1y5ux1aa {
    padding: 1rem
  }

  ._1y5ux1ab {
    margin-bottom: 24px
  }

  ._1y5ux1ac {
    flex-direction: column-reverse
  }

  ._1y5ux1ad {
    position: relative;
    width: 100%;
    margin-bottom: 4rem
  }

  ._1y5ux1ad:nth-child(2) {
    margin-bottom: 3rem
  }

  ._1y5ux1af {
    margin-right: 0
  }

  ._1y5ux1af>:last-child {
    margin-bottom: 0
  }

  ._1y5ux1al {
    background-color: var(--_1tjd7xfi);
    margin: 0 !important;
    width: calc(100% - 1rem)
  }

  ._1y5ux1aq {
    width: 2.5rem
  }

  ._1y5ux1aq,
  ._1y5ux1ar {
    display: block;
    padding: .5rem
  }
}

@media screen and (max-width:600px) {
  ._1y5ux1a1 {
    width: 100%
  }
}

@media screen and (min-width:1025px) {
  ._1y5ux1a6 {
    left: .8rem
  }

  ._1y5ux1ab {
    line-height: 2rem
  }
}

@media screen and (max-width:932px) and (orientation:landscape) {
  ._1y5ux1a9 {
    height: 100vh;
    min-height: unset
  }
}

@media screen and (max-width:768px) {
  ._1y5ux1al {
    margin: 0 !important;
    width: 100%
  }
}

@media screen and (min-width:568px) and (max-width:1024px) {
  ._1y5ux1a9 {
    width: 22.5rem
  }

  ._1y5ux1a9,
  ._1y5ux1al {
    left: -1rem !important
  }
}

.mbv8er0 {
  width: 0;
  height: inherit;
  position: relative;
  z-index: 20001 !important
}

.mbv8er1:active {
  cursor: pointer
}

.mbv8er1:active:focus {
  outline: none !important
}

.mbv8er1:active:focus-visible {
  outline: none !important
}

.mbv8er1:focus:not(:active):before {
  content: "";
  position: absolute;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  top: 2px;
  left: 2px;
  z-index: 4;
  outline: 2px solid var(--_1tjd7xfq)
}

.mbv8er1:focus-visible:not(:active):before {
  content: "";
  position: absolute;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  top: 2px;
  left: 2px;
  z-index: 4;
  outline: 2px solid var(--_1tjd7xfq)
}

.mbv8er2 {
  position: relative;
  background: none
}

.mbv8er2:focus-visible {
  outline: none
}

body:has(.ark-ui-search-active) .mbv8er2 {
  pointer-events: none
}

.mbv8er3 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  width: 3.5rem;
  height: var(--topbar-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--icon-background, var(--_1tjd7xfi));
  box-shadow: 0 2px 12px -12px rgba(0, 0, 0, .1);
  color: #040303;
  transition: width .3s .0325s;
  cursor: pointer
}

.mbv8er4 {
  height: calc(100% - var(--topbar-height));
  min-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  padding-left: .5rem;
  width: 0;
  background-color: var(--_1tjd7xf1);
  display: flex;
  flex-direction: column;
  gap: .75rem;
  overflow: auto;
  overflow-x: hidden;
  transition: width .3s, min-width .3s
}

.mbv8er4 a[href="#"] {
  pointer-events: none;
  cursor: default
}

.sidebar-collapsed-hidden .mbv8er4 {
  width: 0;
  visibility: hidden
}

.mbv8er5,
.sidebar-collapsed-hidden .mbv8er5 {
  width: auto;
  min-width: 16rem;
  visibility: visible
}

.mbv8er6 {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: initial !important;
  transition: width .3s, margin .3s;
  outline: none;
  margin: .25rem auto .25rem .5rem;
  color: var(--normal-label-color, initial);
  border-radius: .5rem
}

.mbv8er6:hover[href]:not([href="#"]) {
  background-color: var(--hover-background-color, var(--_1tjd7xfi))
}

.mbv8er6:focus:not(:active):before {
  content: "";
  position: absolute;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  top: 2px;
  left: 2px;
  z-index: 4;
  outline: 2px solid var(--_1tjd7xfq)
}

.mbv8er6:focus-visible:not(:active):before {
  content: "";
  position: absolute;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  top: 2px;
  left: 2px;
  z-index: 4;
  outline: 2px solid var(--_1tjd7xfq)
}

.mbv8er6:focus:not(:active) {
  text-decoration: underline
}

.mbv8er6:focus-visible:not(:active) {
  text-decoration: underline
}

.mbv8er6:hover[href] {
  background-color: var(--hover-background-color, var(--_1tjd7xfi))
}

.mbv8er4:hover .mbv8er6,
.mbv8er5 .mbv8er6 {
  width: 16rem
}

.mbv8er6:not([href]) {
  cursor: auto
}

.mbv8er7 {
  display: none
}

.mbv8er8 {
  width: 1.5rem;
  height: 1.5rem;
  margin: .5rem
}

.mbv8er9 {
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  color: var(--normal-label-color, initial);
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: width .3s;
  margin-left: .5rem;
  margin-right: .5rem
}

.mbv8er9:active,
.mbv8er9:hover {
  font-weight: var(--_1tjd7xf11)
}

.mbv8er4:hover .mbv8er9,
.mbv8er5 .mbv8er9 {
  width: 16rem
}

.mbv8era {
  display: flex;
  width: 1.5rem;
  min-height: 3px;
  height: 3px;
  background-color: var(--divider-color, var(--_1tjd7xfr));
  margin-left: 1rem;
  margin-right: auto;
  transition: width .3s;
  overflow: hidden;
  border-radius: .5rem
}

.mbv8er4:hover .mbv8era,
.mbv8er5 .mbv8era {
  width: 13rem
}

.mbv8erb {
  display: none
}

.mbv8erc {
  display: flex;
  flex-direction: column;
  align-items: center
}

.mbv8erd {
  display: none
}

.mbv8erk {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: auto;
  transition: opacity .3s
}

.mbv8erl {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  margin: .5rem;
  pointer-events: none
}

.mbv8erm {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  transition: width .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.mbv8ern {
  position: relative;
  transform: none;
  justify-content: center;
  padding: 0 1rem;
  z-index: 101
}

.mbv8erp {
  margin-top: calc(-.75rem - .25rem)
}

.mbv8erq {
  font-weight: var(--_1tjd7xf11);
  font-size: var(--_1tjd7xf16);
  line-height: 1.6
}

@media (forced-colors:active) {
  .mbv8er2 {
    forced-color-adjust: auto
  }
}

@media screen and (min-width:568px) {
  body:not(:has(.topbar)) .mbv8er3:has(~.sidebar:hover) {
    width: 13rem
  }
}

@media screen and (min-width:1025px) {
  .mbv8er4 {
    height: calc(100% - 3rem);
    pointer-events: all;
    padding-top: 1.25rem;
    padding-right: .5rem;
    width: auto;
    scrollbar-width: none;
    top: var(--topbar-height)
  }

  .mbv8erk {
    background-color: unset
  }

  .mbv8erm {
    display: none
  }

  .mbv8ero {
    display: flex !important;
    flex-direction: column
  }
}

@media screen and (max-width:1024px) {

  .mbv8er5,
  .sidebar-collapsed-hidden .mbv8er5 {
    width: 22.5rem;
    height: 100%
  }

  body:not(.sidebar-collapsed-hidden) .mbv8er4:not(.mbv8er5) {
    padding-left: 0
  }

  .mbv8erm,
  .mbv8ern {
    padding: 0 1rem 0 .5rem
  }
}

@media screen and (max-width:568px) {

  .mbv8er5,
  .sidebar-collapsed-hidden .mbv8er5 {
    width: 100vw
  }
}

@media screen and (max-width:1600px) {
  .mbv8ere {
    display: flex
  }

  .mbv8erh {
    display: initial
  }
}

@media screen and (max-width:1224px) {
  .mbv8erf {
    display: flex
  }

  .mbv8eri {
    display: initial
  }
}

@media screen and (max-width:1124px) {
  .mbv8erg {
    display: flex
  }

  .mbv8erj {
    display: initial
  }
}

.styles_adContainer__I3rhO .styles_adComponentWrapper__QOnIz {
  display: flex;
  justify-content: center;
  z-index: 2
}

.styles_adContainer__I3rhO[data-dimensions*="300,250"] {
  min-height: 250px
}

.styles_adContainer__I3rhO[data-dimensions*="160,600"],
.styles_adContainer__I3rhO[data-dimensions*="300,600"] {
  min-height: 600px
}

.styles_adContainer__I3rhO[data-dimensions*="728,90"],
.styles_adContainer__I3rhO[data-dimensions*="970,90"] {
  min-height: 90px
}

.styles_adContainer__I3rhO[data-dimensions*="300,50"],
.styles_adContainer__I3rhO[data-dimensions*="320,50"],
.styles_adContainer__I3rhO[data-dimensions*="320x50"] {
  min-height: 50px
}