body {
  background-image: url('../images/floral.gif');
  background-color: #1e1e1e;
  color: #FFF;
  margin: 0;
  display: table;
  width: 100%;
}

.pbp-ad {
  color: white;
  font-family: "Verdana", Sans-Serif;
  font-size: 18px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #361A40;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pbp-ad a {
  color: #c092ff;
}

#high-scores-personal {
  text-align: left;
  margin-left: 10px;
  background-image: url('../images/stripes.gif');
  border-collapse: collapse;
  font-family: "Verdana", serif;
  font-size: 8pt;
}

#press {

  background-image: url('../images/marqueebg.gif');
  background-color: #282828;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 432px;
  padding: 0 10px;
  overflow: hidden;
  /* clearfix */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

#press h2 {
  color: #c092ff;
  font-size: 12px;
  font-style: normal;
  font-family: "Verdana", serif;
}

/* The marquee plug-in turns a marquee element into a div */
#press p,
#press marquee,
#press div {
  float: left;
  width: 419px;
  /* Container width - heading width - 10px (for some right padding) */
  margin: 0;
  padding: 6px 0;
  /* Again we set the padding in here so as not to cut text */
  line-height: 1;
}

/* All the tweets will be links pointing to your page on Twitter */
#press marquee a,
#press div a {
  font-size: 13px;
  margin: 0 10px 0 0;
  color: #FFF;
  text-decoration: none;
  font-family: "Verdana", serif;
}

/* The i is used to display the date of the tweet */
#press marquee a i,
#press div a i {
  font-size: 13px;
  font-style: normal;
  font-family: "Verdana", serif;
  color: #999;
}





td#tweetbg {
  background-image: url('../images/tweetbg.gif');
  background-repeat: repeat-x;
}

a#tweetlink {
  color: #FFF;
}

a#tweetlink:link {
  text-decoration: none
}

a#tweetlink:active {
  text-decoration: none
}

a#tweetlink:hover {
  text-decoration: underline
}

img#tweetmy {
  padding: 4px;
  vertical-align: middle;
}

table#high-scores-table {
  text-align: left;
  margin: 20px 0 0 10px;
  background-image: url('../images/stripes.gif');
  border-collapse: collapse;
  font-family: "Verdana", serif;
  font-size: 8pt;
}

.high-score-row:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05);
}

.high-score-cell {
  margin: 2px 8px;
  font-weight: bold;
}

table#content {
  margin: 0 auto;
}

table#scores {
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url('../images/stripes.gif');
  border-collapse: collapse;
  font-family: "Verdana", serif;
  font-size: 13pt;
}

table#high-scores-today-table {
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  background-image: url('../images/stripes.gif');
  border-collapse: collapse;
  font-family: "Verdana", serif;
  font-size: 8pt;
}

img {
  border: none;
}

a {
  border: none;
}

a.socialbutton {
  color: #c092ff;
}

.left {
  margin-right: 10px;
}

img#headerImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

img#hsbutton {
  margin-top: 5px;
}

div#info {
  line-height: 12pt;
  margin-top: 10px;
  font-family: "Verdana", serif;
  font-size: 8pt;
}

div#info a {
  color: #c092ff;
}

div#container {
  width: 100%;
  display: table-cell;
  text-align: center;
}

div#highscore {
  display: none;
  background-color: #000;
  border-style: solid;
  border-width: 4px;
  border-color: #FFF;
  width: 500px;
  height: 200px;
  text-align: center;
  padding-top: 80px;
}

#simplemodal-overlay {
  background-color: #000;
}

input#hsname {
  text-align: center;
  font-size: 15pt;
  background-color: #000;
  width: 326px;
  color: #FFF;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
}

table#content tbody {
  vertical-align: top;
}

div#canvasBg {
  width: 465px;
  height: 466px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-image: url('../images/canvasbg.jpg');
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 5px 5px #222;
  -webkit-box-shadow: 20px 20px 5px 5px #222;
  box-shadow: 0 0 20px 5px #111;
}

canvas#kanyeCanvas {
  margin-top: 4px;
  width: 450px;
  height: 450px;
  display: inline-block;
  text-align: left;
}

.center {
  display: inline-block;
  text-align: left;
}


#fb-root div {
  overflow: hidden !important;
}

#social a.addthis_button_facebook_like {
  width: 75px;
}

#social a.addthis_button_google_plusone {
  width: 30px;
}

#social-buttons {
  vertical-align: top;
}

#twitter-wrapper {
  margin-top: 15px;
  text-align: center;
}